body {
    background: #0d1b2a;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #77aaff;
}

.section-title {
    font-size: 24px;
    margin-top: 25px;
    color: #64dfdf;
}

p {
    line-height: 1.6;
    font-size: 18px;
}

.quote-box {
    border-left: 4px solid #00b4d8;
    padding-left: 15px;
    margin: 20px 0;
    font-style: italic;
    font-size: 18px;
}